.header {
    z-index: 999;
    @apply
    w-full
    flex
    justify-center
    items-center
    h-[65px]
    fixed
    bg-primary
}

.header .header-wrapper {
    @apply
    w-full
    flex
    justify-between
    items-center
    align-middle
}

.header .header-wrapper .burger-menu {
    @apply
    hidden
    w-[50px]
}

.header .header-wrapper .logo-content a {
    transition: .3s;
    @apply
    text-xl
    font-bold
    cursor-pointer
}

.header .header-wrapper .logo-content a:hover {
    transition: .3s;
    @apply
    text-secondary
}

.header .header-wrapper ul{
    @apply
    flex
    gap-4
    align-middle
    items-center
}

.header .header-wrapper ul li a{
    transition: .3s;
    @apply
    text-xl
    cursor-pointer
}

.header .header-wrapper ul li a:hover{
    transition: .3s;
    @apply
    underline
    underline-offset-4
    decoration-secondary
}

.show-mob{
    left: 0 !important;
    @apply
    h-screen
    flex
    flex-col
    top-0
    w-full
    justify-center
    items-center
    bg-primary
}

@media (max-width: 899px) {
    .burger-menu img {
        width: 35px;
    }

    .header .header-wrapper .burger-menu {
        @apply
        flex
        max-w-max
    }

    .header .header-wrapper ul{
        left: 100%;
        transition: .3s;
        @apply
        absolute
    }
}