.contact{
    @apply
    relative
    h-[95vh]
    w-full
    flex
    items-center
    flex-col
    pt-11
}

.contact .grid-info {
    @apply
    w-full
    grid-cols-2
    grid
    gap-10
}

.contact .grid-info .form-send{
    @apply
    w-full
    flex
    flex-col
}

.contact .grid-info .form-send legend{
    @apply
    mb-1
    text-lg
}

.contact .grid-info .form-send textarea,
.contact .grid-info .form-send input{
    @apply
    mb-1
    text-lg
    text-white
    bg-primary
    border-secondary
    outline-0
    border-2
    p-2
}

.contact .grid-info .form-send button{
    transition: .3s;
    @apply
    bg-secondary
    pl-10
    pr-10
    text-xl
    mt-2
    pt-2
    pb-2
}

.contact .grid-info .form-send button:hover{
    transition: .3s;
    opacity: .7;
}

.contact .grid-info .contact-info {
    @apply
    flex
    flex-col
}

.contact .grid-info .contact-info h1{
    @apply
    text-xl
    mb-3
}

.contact .grid-info .contact-info .wrapper {
    @apply
    flex
    gap-2
    mb-4
}

.contact .grid-info .contact-info .wrapper img{
    @apply
    w-[30px]
    object-contain
}

.contact .grid-info .contact-info .wrapper p {
    @apply
    text-xl
}

.contact .grid-info .contact-info .wrapper p:hover {
    transition: .3s;
    @apply
    underline
    decoration-secondary
}

@media (max-width: 500px){
    .contact .grid-info {
        @apply
        grid-cols-1
    }
}