.home{
    @apply
    relative
    h-[95vh]
    grid
    grid-cols-2
    gap-10
    w-full
}

.home .home-about{
    @apply
    h-full
    flex
    flex-col
    justify-center
    relative
    z-10
}

.home .home-about h3{
    @apply
    text-xl
    mb-3
}

.home .home-about h1{
    @apply
    font-bold
    text-7xl
    underline-offset-[20px]
    underline
    decoration-secondary
    mb-10
}

.home .home-about p{
    @apply
    max-w-[500px]
    text-xl
    leading-8
}

.home .home-social {
    @apply
    w-full
}

.home .home-social{
    @apply
    h-full
    flex
    flex-col
    justify-center
    relative
    z-10
    mt-[-155px]
}

.home .home-social h3{
    @apply
    text-xl
    mb-5
    font-bold
}

.home .home-social p{
    @apply
    text-xl
    mb-5
}

.home .home-about a{
    transition: .3s;
    @apply
    mt-10
    text-xl
    cursor-pointer
    flex
    gap-2
    items-center
}

.home .home-about a:hover{
    transition: .3s;
    @apply
    text-secondary
}

.home .home-about a svg{
    transition: .3s;
    @apply
    w-[20px]
    h-[25px]
    fill-white
}

.home .home-about a:hover svg{
    transition: .3s;
    @apply
    fill-secondary
}

.home .home-bg {
    @apply
    bg-no-repeat
    bg-contain
    bg-[0px_40%]
}

@media (max-width: 700px) {
    .home{
        @apply
        grid-cols-1
    }

    .home .home-bg {
        @apply
        h-[500px]
    }

    .home .home-about h1 {
        @apply
        text-4xl
    }

    .about .projects-count {
        @apply
        grid
        grid-cols-2
    }

    .about .projects-count .project:nth-child(2) {
        @apply
        border-r-0
    }
}