@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Black.ttf') format('ttf'),
    url('../fonts/Inter-Bold.ttf') format('ttf'),
    url('../fonts/Inter-ExtraBold.ttf') format('ttf'),
    url('../fonts/Inter-ExtraLight.ttf') format('ttf'),
    url('../fonts/Inter-Light.ttf') format('ttf'),
    url('../fonts/Inter-Medium.ttf') format('ttf'),
    url('../fonts/Inter-Regular.ttf') format('ttf'),
    url('../fonts/Inter-SemiBold.ttf') format('ttf'),
    url('../fonts/Inter-Thin.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 899px) {
  section > div > div {
    height: unset!important;
    padding-bottom: 100px;
  }
}
