.my-links {
    background: rgb(17, 20, 24);
    background: linear-gradient(180deg, rgba(17, 20, 24, 1) 7%, rgba(173, 0, 255, 1) 100%);
    @apply 
    w-full 
    flex 
    justify-center 
    items-center 
    h-screen;
}

.my-links .my-links-container {
    @apply
    max-w-500
    w-full
    h-full
    flex
    flex-col
    pl-5
    pr-5
    pb-[40px]
}

.my-links .my-links-container .fixed-section {
    @apply
    flex
    flex-col
    items-center
    justify-center
    pt-[40px]
}

.title-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @apply
    w-[135px]
    h-[135px]
    rounded-full
    mb-3;
}

.instagram-title {
    @apply
    text-xl
    font-bold
    mb-1
    text-white;
}

.description {
    @apply
    max-w-[300px]
    text-[1.1rem]
    text-center;
}

.content-tab {
    @apply
    flex
    w-full;
}

.redirect-links {
    @apply
    flex
    flex-col
    gap-5
    w-full
    mt-[15px];
}

.tab-selector {
    @apply
    flex
    w-full
    mb-5
    mt-5;
}

.technology {
    @apply
    flex
    flex-col;
}

.technology h1 {
    @apply
    text-base
    mb-3
    w-full;
}

.tec-list {
    @apply
    flex
    gap-2
    flex-wrap
    mb-3;
}

@media (max-width: 800px){
    .my-links .my-links-container {
        @apply
        overflow-auto
    }
}